[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=TH
ST=Bangkok
L=Bangkapi
O=QuoteBook
OU=RandomOrganizationUnit
emailAddress=chunza2542@hotmail.com
CN = localhost
